{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Blog article - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v13' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v13/' %}
{% set homePath = '/prototypes/learner/v13/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}

{% block content %}

    {{ components.pageHeading(heading='The art of being a successful remote manager') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p>Apply these 5 suggestions on how to make it easier to work with your remote team members.</p>

            <p><a href="https://www.levo.com/posts/the-art-of-being-a-successful-remote-manager" target="_blank">Read this blog article</a> (external link)</p>

            <p>
                <a href="/prototypes/learner/v13/actions?action=addedToLearningPlan&type=blog">Add to your learning</a>
            </p>

        {%- endcall %}

        {% call components.columnOneThird() %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
                <p class="u-space-t15">
                    <a href="#">Leave feedback</a>
                </p>

                {% if not hideDetailStars %}
                    <h2 class="heading-small">User rating</h2>
                    {{ components.starRating(rating='76%', total='104') }}

                {% endif %}

            </aside>

        {% endcall %}

    {%- endcall %}

{% endblock %}
