{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Diversity and inclusion - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v13' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v13/' %}
{% set homePath = '/prototypes/learner/v13/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}


{% block content %}

    {{ components.pageHeading(heading='Diversity and inclusion') }}

    {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

        <p>This topic covers the role unconscious bias can play in the workplace, as well as the importance of equality, diversity and inclusion.</p>

        <p>You also learn about the equality laws that are in place, and the duty to treat our customers fairly.</p>
        <p>This diversity and inclusion topic contains 8 activities. You can do them all in one go or in stages. </p>

        {{ components.heading(text='Learning outcomes', tag='h2', size='medium') }}

        <p>On completing all the topics, you'll:</p>
        <ul class="list-bullet u-space-b30">
            <li>have an understanding of what unconscious bias is and how it can affect your work</li>
            <li>be able to recognise different types of unconscious bias and their impact</li>
            <li>know how to challenge your own thinking, and how to help create the right environment.</li>
            <li>be aware of some of the strategies you can use to minimise the impact of unconscious bias on decision making</li>
            <li>understand why we need legislation</li>
            <li>be more aware of how stereotyping, bullying and harassment can affect work relationships and decisions</li>
            <li>have insight into the barriers disabled customers may face and duties towards all of our customers</li>
        </ul>

        <p><strong>You must complete all 8 learning modules to finish this topic.</strong></p>

        <div class="discite">

            {#macro resourceRow(name='This resource title',headingTag='h3',size='',headingExtraClass='heading--text',type='',status='',action'',duration='')#}

            {{ components.disciteRow(
                name='Introducing unconscious bias',
                headingTag='h3',
                description='Learn about the concepts and the theory and how unconscious bias can influence attitudes and behaviours',
                headingExtraClass='heading--text',
                type='Online',
                status='',
                action='Start',
                duration='5 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Tackling unconscious bias in recruitment decisions',
                headingTag='h3',
                description='Explore how unconscious bias can shape personal and group decision-making and have an impact on people management processes',
                headingExtraClass='heading--text',
                type='Online',
                status='',
                action='Start',
                duration='8 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Unconscious bias in the workplace',
                headingTag='h3',
                description='Learn techniques to reduce the impact of unconscious bias, create more inclusive and diverse teams and improve organisational culture and business performance.',
                headingExtraClass='heading--text',
                type='Online',
                action='Start',
                duration='5 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Tackling unconscious bias',
                headingTag='h3',
                description='See how you can identify, challenge, prevent and remove areas of unconscious bias in the workplace.',
                headingExtraClass='heading--text',
                type='Online',
                action='Start',
                duration='8 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Equality, diversity and inclusion in the Civil Service',
                headingTag='h3',
                description='Find out about your own role and responsibilities in creating an inclusive working environment and in meeting the needs of diverse customers',
                headingExtraClass='heading--text',
                type='Video',
                action='Start',
                duration='12 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='The legal framework',
                headingTag='h3',
                description='Understand the main features of equality legislation: the Equality Act 2010 and the Public Sector Equality Duty',
                headingExtraClass='heading--text',
                type='Online',
                action='Start',
                duration='5 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Our inclusive workplace',
                headingTag='h3',
                description='Think about the need for reasonable adjustments and observe the impact of assumptions, stereotyping, bullying and harassment',
                headingExtraClass='heading--text',
                type='Online',
                action='Start',
                duration='5 minutes',
                extraModifierClass='module'
            ) }}

            {{ components.disciteRow(
                name='Our customers',
                headingTag='h3',
                description='Makes clear the requirement to treat customers according to their needs and the legal requirement to make reasonable adjustments.',
                headingExtraClass='heading--text',
                type='Online',
                action='Start',
                duration='8 minutes',
                extraModifierClass='module'
            ) }}


        </div>

    {%- endcall %}

    {% call components.columnOneThird() %}

        <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
            <h2 class="heading-small">Key information</h2>

            <table class="table-simple table--top u-space-b30">
                <caption class="visuallyhidden">Details about the course</caption>
                <tbody>
                    <tr>
                        <th>Course type</th>
                        <td>Online</td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td>AA to SCS</td>
                    </tr>
                    <tr>
                        <th>Key area</th>
                        <td>General</td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td>1 hour</td>
                    </tr>
                </tbody>
            </table>

            {% if not hideDetailStars %}
                <h2 class="heading-small">User rating</h2>
                {{ components.starRating(rating='68%', total='97') }}
            {% endif %}

        </aside>

    {%- endcall %}

    {%- endcall %}

{% endblock %}
