{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Your learning - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v10' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v10/' %}
{% set homePath = '/prototypes/learner/v10/home' %}
{% set isAdmin = isAdmin if isAdmin %}

{% set showRemoveX = showRemoveX if showRemoveX %}

{#{% set hideHomeStars = hideHomeStars if hideHomeStars %}#}
{% set removeMessage = removeMessage if removeMessage %}
{% set fireTrainingComplete = fireTrainingComplete if fireTrainingComplete %}
{% set hideHomeStars = 'true' %}

{% set hasBeenAdded = hasBeenAdded if hasBeenAdded %}
{% set hasBeenRemoved = hasBeenRemoved if hasBeenRemoved %}
{% set willBeRemoved  = willBeRemoved  if willBeRemoved  %}
{% set hasLeftFeedback = hasLeftFeedback if hasLeftFeedback %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}


        {%- endcall %}

    {%- endcall %}

{% endblock %}
