{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA - Ajax Browse' %}

{% block content %}

  {{ components.pageHeading(heading='Ajax Browse', secondary='DVSA Front-End') }}
  {{ components.paragraph(text='This component is still under development.', lead=true) }}

  <br class="clearfix">

  <script type="text/javascript">
  window.__AJAX_BROWSE__ = {
    endpointURL: '{{ appURL }}/api/v1/ajax-browse',
    blocks: [
      {
        visible: true,
        items: [
          {
            id: 123,
            href: '#',
            heading: 'Births, deaths, marriages and care',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.',
            loading: false,
            active: false,
            endOfTree: false,
          },
          {
            id: 124,
            href: '#',
            heading: 'Births, deaths, marriages and care',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.',
            loading: false,
            active: false,
            endOfTree: false,
          }
        ]
      }
    ]
  };
  </script>

  <div id="ajax-browse" class="ajax-browse ajax-browse--back-button ajax-browse--1-blocks" data-endpoint-url="{{ appURL }}/api/v1/ajax-browse">
    <div class="ajax-browse__back-wrapper">
      <a class="ajax-browse__back-button button">Back</a>
    </div>
    <div class="ajax-browse__inner">
      <div class="ajax-browse__block">
        <div class="ajax-browse__block-inner">
          <ul class="ajax-browse__list">
            <li class="ajax-browse__item" data-item-id="1" data-end-of-tree="false">
              <a href="#" class="ajax-browse__link">
                <span class="ajax-browse__link-heading">
                  Births, deaths, marriages and care
                </span>
                <span class="ajax-browse__link-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
                </span>
              </a>
            </li>
            <li class="ajax-browse__item" data-item-id="2" data-end-of-tree="false">
              <a href="#" class="ajax-browse__link">
                <span class="ajax-browse__link-heading">
                  Births, deaths, marriages and care
                </span>
                <span class="ajax-browse__link-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}