{% macro placeholderAjaxBrowse(activeItems=1, inactiveItems=0, modifier='one-block', backButton=false, hoverEffect=true) %}
<div class="ajax-browse {{ 'ajax-browse--hover-effect' if hoverEffect }} {{ 'ajax-browse--back-button' if backButton }} ajax-browse--{{ modifier }}" data-total-items="{{ activeItems + inactiveItems }}">
  <div class="ajax-browse__back-wrapper">
    <a class="ajax-browse__back-button button">Back</a>
  </div>
  <div class="ajax-browse__inner">
    {% for i in range(0, inactiveItems) -%}
      {{ placeholderAjaxBrowseItem() }}
    {%- endfor %}
    {% for i in range(0, activeItems) -%}
      {{ placeholderAjaxBrowseItem(active=true) }}
    {%- endfor %}
  </div>
</div>
{% endmacro %}

{% macro placeholderAjaxBrowseItem(active=false) %}
<div class="ajax-browse__block">
  <div class="ajax-browse__block-inner">
    <ul class="ajax-browse__list">
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item {{ 'ajax-browse__item--active' if not active }}">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endmacro %}