{% macro placeholderAjaxBrowse(active=false) %}
<div class="ajax-browse__block ajax-browse__block--{{ 'active' if active else 'inactive' }}">
  <div class="ajax-browse__block-inner">
    <ul class="ajax-browse__list">
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
      <li class="ajax-browse__item">
        <a href="#" class="ajax-browse__link">
          <span class="ajax-browse__link-heading">
            Births, deaths, marriages and care
          </span>
          <span class="ajax-browse__link-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum sunt quod modi veritatis voluptatibus odio cupiditate possimus aperiam, facilis, rem iste cum odit quam.
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endmacro %}