.ajax-browse {

  overflow-x: hidden;
  position: relative;
  white-space: nowrap;

  &, * {
    box-sizing: border-box;
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  &__block {
    display: inline-block;
    width: 100%;
    background: white;
    transition: all 0.15s ease-in-out;
    vertical-align:top;
    white-space: initial;
    position: relative;
    overflow-y: auto;
    box-shadow: 0px 0px 500px transparentize($color: black, $amount: 0.7);

    &:first-child {
      box-shadow: none;
    }

    // &--inactive {
    //   .ajax-browse__link {
    //     &:after {
    //       display: none;
    //     }
    //   }
    // }

    &--hidden {
      display: none;
    }

    .ajax-browse--one-block & {
      &--active {
        .ajax-browse__block-inner {
          border: none;
        }
      }
    }

    z-index: 1;
    width: 90%;
    .ajax-browse__block-inner {
      opacity: 0.3;
      border-left: none;
      border-right: 1px solid white;
    }
    & ~ .ajax-browse__block {
      margin-left: -80%;
    }
    &:hover {
      z-index: 5;
      box-shadow: 0px 0 500px transparentize($color: black, $amount: 0.7);
      .ajax-browse__block-inner {
        opacity: 1;
        border-right-color: $grey-3;
      }
      .ajax-browse__link {
        &:after {
          display: block;
        }
      }
      & ~ .ajax-browse__block:last-child {
        z-index: 1;
        opacity: 0.3;
        margin-left: 0;
        box-shadow: none;
        .ajax-browse__block-inner {
          border-left-color: white;
        }
        .ajax-browse__link {
          &:after {
            display: none;
          }
        }
      }
    }
    &:last-child {
      
      .ajax-browse__block-inner {
        opacity: 1;
      }
    }

    // .ajax-browse--two-blocks & {
    //   width: 90%;
    //   &--inactive {
    //     z-index: 1;
    //     width: 90%;
    //     .ajax-browse__block-inner {
    //       opacity: 0.3;
    //       border-left: none;
    //       border-right: 1px solid white;
    //     }
    //     &:hover {
    //       z-index: 5;
    //       box-shadow: 0px 0 500px transparentize($color: black, $amount: 0.7);
    //       .ajax-browse__block-inner {
    //         opacity: 1;
    //         border-right-color: $grey-3;
    //       }
    //       .ajax-browse__link {
    //         &:after {
    //           display: block;
    //         }
    //       }
    //       & ~ .ajax-browse__block--active {
    //         z-index: 1;
    //         opacity: 0.3;
    //         margin-left: 0;
    //         box-shadow: none;
    //         .ajax-browse__block-inner {
    //           border-left-color: white;
    //         }
    //         .ajax-browse__link {
    //           &:after {
    //             display: none;
    //           }
    //         }
    //       }
    //     }
    //   }
    //   &--active {
    //     margin-left: -80%;
    //     z-index: 5;
    //   }
    // }

    // .ajax-browse--three-blocks & {
    //   width: 80%;
    //   &--inactive {
    //     &:nth-child(1) {
    //       z-index: 1;
    //       .ajax-browse__link {
    //         opacity: 0.2;
    //       }
    //       .ajax-browse__block-inner {
    //         border-left-color: white;
    //       }
    //       &:hover {
    //         & + .ajax-browse__block {
    //           z-index: 5;
    //         }
    //         & ~ .ajax-browse__block--active {
    //           z-index: 1;
    //         }
    //       }
    //     }
    //     &:nth-child(2) {
    //       z-index: 5;
    //       margin-left: -70%;
    //       .ajax-browse__link {
    //         opacity: 0.35;
    //       }
    //     }
    //     &:hover {
    //       z-index: 10;
    //       box-shadow: 0px 0 500px transparentize($color: black, $amount: 0.7);
    //       .ajax-browse__link {
    //         opacity: 1;
    //       }
    //       & ~ .ajax-browse__block {
    //         margin-left: -1%;
    //       }
    //       & ~ .ajax-browse__block--active {
    //         z-index: 1;
    //         box-shadow: none;
    //         .ajax-browse__link {
    //           opacity: 0.3;
    //         }
    //       }
    //     }
    //   }
    //   &--active {
    //     margin-left: -70%;
    //     z-index: 10;
    //   }
    // }

    // .ajax-browse--four-blocks & {
    //   width: 70%;
    //   &--inactive {
    //     &:nth-child(1) {
    //       z-index: 1;
    //       .ajax-browse__block-inner {
    //         border-left-color: white;
    //       }
    //       .ajax-browse__link {
    //         opacity: 0.2;
    //       }
    //     }
    //     &:nth-child(2) {
    //       z-index: 5;
    //       margin-left: -60%;
    //       .ajax-browse__link {
    //         opacity: 0.3;
    //       }
    //     }
    //     &:nth-child(3) {
    //       z-index: 10;
    //       margin-left: -60%;
    //       .ajax-browse__link {
    //         opacity: 0.4;
    //       }
    //     }
    //     &:hover {
    //       z-index: 15;
    //       box-shadow: 0px 0 500px transparentize($color: black, $amount: 0.7);
    //       .ajax-browse__link {
    //         opacity: 1;
    //       }
    //       & ~ .ajax-browse__block {
    //         margin-left: -1%;
    //       }
    //       & ~ .ajax-browse__block--active {
    //         z-index: 1;
    //         .ajax-browse__link {
    //           opacity: 0.3;
    //         }
    //       }
    //     }
    //   }
    //   &--active {
    //     margin-left: -60%;
    //     z-index: 15;
    //   }
    // }

    @media(max-width: 762px) {
      .ajax-browse--two-blocks &, .ajax-browse--three-blocks &, .ajax-browse--four-blocks & {
        &--inactive {
          display: none;
        }
        &--active {
          width: 100%;
          margin: 0;
          .ajax-browse__block-inner {
            border-left-color: white;
          }
        }
      }
    }
    
  }

  &__block-inner {
    border-left: 1px solid $grey-3;
    height: 500px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {

  }

  &__link {
    display: block;
    padding: 10px 20px 10px 10px;
    position: relative;
    background: white;
    text-decoration: none;
    &-heading {
      display: block;
      margin: 0;
      padding: 0;
    }
    &-description {
      display: block;
      margin: 5px 0 0 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
      color: $text-colour;
    }
    &:after {
      content: ' ';
      display: block;
      background-image: url('../images/separator.png');
      width: 6px;
      height: 11px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      .ajax-browse__block--inactive {
        display: none;
      }
      .ajax-browse__block--inactive:hover & {
        display: block;
      }
    }
    &:hover {
      background: $grey-5;
    }
    .ajax-browse__item--active & {
      background: $govuk-blue;
      &-heading {
        color: white;
      }
      &-description {
        color: transparentize($color: white, $amount: 0.3);
      }
    }
  }

}