.ajax-browse {

  position: relative;

  &, * {
    box-sizing: border-box;
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  &__back-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 50;
    display: none;
    .ajax-browse--back-button & {
      display: block;
    }
    .ajax-browse--two-blocks.ajax-browse--back-button &, .ajax-browse--one-block.ajax-browse--back-button & {
      display: none;
    }
  }

  &__back-button {

  }

  &__inner {
    overflow-x: hidden;
    white-space: nowrap;
  }

  &__block {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    background: white;
    transition: all 0.15s ease-in-out;
    position: relative;
    white-space: initial;

    &-inner {
      border-left: 1px solid $grey-3;
      min-height: 700px;
    }

    &:first-child {
      .ajax-browse__block-inner {
        border-left-color: white;
      }
    }

    .ajax-browse--three-blocks & {
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 5;
        margin-left: -20%;
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
      &:last-child {
        z-index: 10;
      }
    }

    .ajax-browse--four-blocks & {
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 5;
        margin-left: -31%;
      }
      &:nth-child(3) {
        z-index: 10;
        margin-left: -31%;
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
      &:last-child {
        z-index: 15;
      }
    }

    .ajax-browse--five-blocks & {
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 5;
        margin-left: -34%;
      }
      &:nth-child(3) {
        z-index: 10;
        margin-left: -34%;
      }
      &:nth-child(4) {
        z-index: 15;
        margin-left: -34%;
      }
      &:last-child {
        z-index: 20;
      }
    }

    .ajax-browse--six-blocks & {
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 5;
        margin-left: -36%;
      }
      &:nth-child(3) {
        z-index: 10;
        margin-left: -35%;
      }
      &:nth-child(4) {
        z-index: 15;
        margin-left: -35%;
      }
      &:nth-child(5) {
        z-index: 15;
        margin-left: -35%;
      }
      &:last-child {
        z-index: 20;
      }
    }

    .ajax-browse--three-blocks.ajax-browse--back-button & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--four-blocks.ajax-browse--back-button & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.1;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--five-blocks.ajax-browse--back-button & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.1;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.13;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(4) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--six-blocks.ajax-browse--back-button:not(.ajax-browse--loading) & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.1;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.12;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 0.13;
        }
      }
      &:nth-child(4) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(5) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--three-blocks.ajax-browse--hover-effect & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.5;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--four-blocks.ajax-browse--hover-effect & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.3;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.5;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--five-blocks.ajax-browse--hover-effect & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.3;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 0.5;
        }
      }
      &:nth-child(4) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    .ajax-browse--six-blocks.ajax-browse--hover-effect:not(.ajax-browse--loading) & {
      &:nth-child(1) {
        .ajax-browse__block-inner {
          opacity: 0.15;
        }
      }
      &:nth-child(2) {
        .ajax-browse__block-inner {
          opacity: 0.2;
        }
      }
      &:nth-child(3) {
        .ajax-browse__block-inner {
          opacity: 0.3;
        }
      }
      &:nth-child(4) {
        .ajax-browse__block-inner {
          opacity: 0.5;
        }
      }
      &:nth-child(5) {
        .ajax-browse__block-inner {
          opacity: 1;
        }
      }
    }

    &:hover {
      & + .ajax-browse__block {
        .ajax-browse__block-inner {
          opacity: 0.5;
        }
      }
    }

    .ajax-browse--hover-effect & {
      &:hover {
        &:nth-child(n) {
          .ajax-browse__block-inner {
            opacity: 1;
          }
        }
        & ~ .ajax-browse__block {
          margin-left: 0;
          .ajax-browse__block-inner {
            opacity: 0.5;
          }
        }
      }
    }

    .ajax-browse--loading & {
      &:nth-child(n) {
        .ajax-browse__block-inner {
          opacity: 0.3;
        }
      }
      &:hover {
        .ajax-browse__block-inner {
          opacity: 0.3;
        }
      }
    }
    
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {

  }

  &__link {
    display: block;
    padding: 10px 35px 10px 10px;
    position: relative;
    background: white;
    text-decoration: none;
    &-heading {
      display: block;
      margin: 0;
      padding: 0;
    }

    &-description {
      display: block;
      margin: 5px 0 0 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
      color: $text-colour;
    }

    &:after {
      content: ' ';
      display: block;
      background-image: url('../images/separator.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      .ajax-browse__item--loading & {
        background-image: url('../images/loading-spinner-small.gif');
      }
    }

    &:hover {
      background: $grey-5;
    }

    &:focus {
      background: $focus-colour;
      outline: none;
    }

    .ajax-browse--loading & {
      pointer-events: none;
      cursor: default;
    }
    
    .ajax-browse__item--active & {
      background: $govuk-blue;
      &-heading {
        color: white;
      }
      &-description {
        color: transparentize($color: white, $amount: 0.3);
      }
    }
  }

}