{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Service unavailable - Government Learning Platform' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v10' %}
{% set signOutPath = '/prototypes/learner/v10/' %}
{% set homePath = '/prototypes/learner/v10/error/service-unavailable' %}

{% set courseDates = courseDates if courseDates %}
{% set course = course if course %}

{% block content %}

    {% call components.gridRow() %}

      {% call components.columnTwoThirds() %}

      {{ components.pageHeading(heading='Service unavailable', secondary="") }}

          <p class="govuk-body">Try again later.</p>
          <p class="govuk-body">You will be able to use the service from 9am on Monday 19&nbsp;November&nbsp;2018</p>
          <p class="govuk-body">You can contact the Learning Platform for Government helpdesk on <a class="govuk-link" href="#"><br>020 3640 7985</a> or by email on
             <a class="govuk-link" href="#">support@civilservicelearning.uk.</a>
          </p>
          <p class="govuk-body">The helpdesk phone service is available <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 8pm.</strong></p>
          <p class="govuk-body">Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.</p>

      {%- endcall %}

    {%- endcall %}

{% endblock %}
