{% set showNewNav = showNewNav if showNewNav %}
{% set navItem = navItem if navItem %}
{% set isAdmin = isAdmin if isAdmin %}
{#<p>showNewNav = {{ showNewNav }}</p>
<p>navItem = {{ navItem }}</p>#}

{% if showNewNav %}
    {% call components.gridRow() %}
        {% call components.columnFull() %}
            <nav id="nav">
                <div class="navbar">
                    <ul class="navbar__list-items navbar__list-items--hide-small" id="navList">
                        <li class="{% if (navItem == 'home') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/home">Home</a>
                        </li>
                        <li class="{% if (navItem == 'suggested') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/suggested-learning">Suggestions for you</a>
                        </li>
                        <li class="{% if (navItem == 'record') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/learning-record">Learning record</a>
                        </li>
                        <li class="{% if (navItem == 'profile') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/your-profile">Profile</a>
                        </li>
                        {% if isAdmin %}
                            <li class="{% if (navItem == 'admin') %}active{% endif %}">
                                <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/profile">Admin</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/">Sign out</a>
                        </li>
                    </ul>

                    <a class="navbar__hamburger" id="navBurger" href="#" onclick="toggleVisibility(this, 'navList', 'navbar__list-items--hide-small', 'noSelfToggle')"><span></span> Menu</a>

                </div>
            </nav>

            <script>
                document.querySelector( "#navBurger" ).addEventListener( "click", function() {
                    this.classList.toggle( "active" );
                });
            </script>

        {%- endcall %}
    {%- endcall %}
{% endif %}

