{% set showNewNav = showNewNav if showNewNav %}
{% set navItem = navItem if navItem %}
{% set isAdmin = isAdmin if isAdmin %}
{#<p>showNewNav = {{ showNewNav }}</p>
<p>navItem = {{ navItem }}</p>#}

{% if showNewNav %}
    {% call components.gridRow() %}
        {% call components.columnFull() %}
            <nav id="nav">
                <div class="navbar">
                    <ul class="navbar__list-items">
                        <li class="{% if (navItem == 'home') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/home">Home</a>
                        </li>
                        <li class="{% if (navItem == 'suggested') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/suggested-learning">Suggestions for you</a>
                        </li>
                        <li>
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/learning-record">Learning record</a>
                        </li>
                        <li class="{% if (navItem == 'profile') %}active{% endif %}">
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/your-profile">Profile</a>
                        </li>
                        {% if isAdmin %}
                            <li class="{% if (navItem == 'admin') %}active{% endif %}">
                                <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/profile">Admin</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/prototypes/learner/{{ learnerPrototypeVersion }}/">Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {%- endcall %}
    {%- endcall %}
{% endif %}

